{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "babel"
  ],
  "envs": [
    "es6",
    "node"
  ],
  "ecmaFeatures": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 0,
    "no-undef": 0,
    "quotes": ["error", "double", {"allowTemplateLiterals": true}],
    "semi": ["error", "always"]
  }
}